//colors
$plomo: #F0F0F0;
$crema: #E9E6E1;
$azul: #323A45;
$celeste: #2A80B9;
$azul-sociales : #29A5C8;
$text-color:#FAFDFD;
$text-frase:#8E969B;

//fonts
$base-font-family: 'Roboto', Arial, sans-serif !default;
