section.sociales
    .container-sociales
        h2 get in touch
        p We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us
        p on twitter and join us on facebook
        ul
            li
                a(href="https://twitter.com/" target="_blank")
                    i.fa.fa-twitter.fa-2x(aria-hidden='true')
            li
                a(href="https://www.facebook.com/" target="_blank")  
                    i.fa.fa-facebook.fa-2x(aria-hidden='true')
            li
                a(href="https://www.linkedin.com/" target="_blank")
                    i.fa.fa-linkedin.fa-2x(aria-hidden='true')
            li
                a(href="https://plus.google.com/discover?hl=es" target="_blank")
                    i.fa.fa-google-plus.fa-2x(aria-hidden='true')
            li
                a(href="https://vimeo.com/" target="_blank")
                    i.fa.fa-vimeo-square.fa-2x(aria-hidden='true')
        