footer
    .container-footer
        p FLATIC © 2017 - All rigths Reserved template by Spiral Pixel
    a(href="#")
        i.fa.fa-angle-double-up.fa-2x(aria-hidden='true')


script(src="js/app.js?v=1.4")
