.frase
    .container
        p.linea-superior
            |I think most 
            span programmers
            |  spend  the first 5 years of their career

        p.linea-media
            |mastering 
            span.span-1 complexity 
            | and the rest of their lives learning 
            span.span-2 simplicity - 
        p Buzz  Andersen