.frase
    .container
        p.linea-superior
            |I think most 
            span.span-3 programmers
            |  spend  the first 5 years of their career mastering 
            span.span-1 complexity 
            | and the rest of their lives learning 
            span.span-2 simplicity - 
            | Buzz  Andersen