header
    .container
        .logo
            h2 flati
        nav
            ul
                li 
                    a.active home
                li 
                    a pages
                li 
                    a work
                li 
                    a style
                li 
                    a extras
                li 
                    a blog
                li 
                    a contact