header
    .container
        .logo
            h1 flati
        span 
            a(href="#")
                i.fa.fa-bars(aria-hidden='true')
        nav
            ul.menu
                li 
                    a.active(href="#") home
                li 
                    a(href="#") pages
                li 
                    a(href="#") work
                li 
                    a(href="#") style
                li 
                    a(href="#") extras
                li 
                    a(href="#") blog
                li 
                    a(href="#") contact
        