.portada
    a(href="#")
        i.fa.fa-cogs.fa-lg(aria-hidden='true')
    .container
        .container-robot
            img.robot(src="imagenes/robot.png")
        .frases
            p.grande flati bootstrap
            p.mediano create - design - code
            p.chico our portafolio
        .container-cohete
            img.cohete(src="imagenes/rocket.png")
            img.flama(src="imagenes/flama.png")


