.portada
    .container
        img.robot(src="imagenes/robot.png")
        .frases
            p.grande flati bootstrap
            p.mediano create - design - code
            p.chico our portafolio
        img.cohete(src="imagenes/rocket.png")


