section
    .container-section
        ul.arriba
            li.cuadrado
                i.fa.fa-pencil.fa-2x(aria-hidden='true')
                h2 design
                p.titulo bulit for & by nerds   
                p.texto Like you, we love building awesome products on the web. We love it so much we decided to help people just like us do it easier, better, and faster.
            li.cuadrado
                i.fa.fa-umbrella.fa-2x(aria-hidden='true')
                h2 code
                p.titulo 12-column grid   
                p.texto Bootstrap is designed to help people of all skill levels - designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something.
            li.cuadrado
                i.fa.fa-flask.fa-2x(aria-hidden='true')
                h2 create
                p.titulo responsive
                p.texto Bootstrap have gone fully responsive. Our components are scaled according to a range of resolutions and devices to provide a consistent experience.
            li.cuadrado
                i.fa.fa-book.fa-2x(aria-hidden='true')
                h2 support
                p.titulo growing library
                p.texto Despite bering only 7kb (gzipped). Bootstrap is one the most complete front-end toolskits out there with dozens of fully functional components.
        .container.botones

        .container
            ul.abajo
                li
                    h2 Recent Work
                    p.arriba Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p.abajo Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    .button
                        a(href="#") view portafolio
                li
                    img(src="imagenes/s1.jpg")
                    h3 catalogue
                    p An his tamquam pri id mazim nostrud diceret.
                li
                    img(src="imagenes/s2.jpg")
                    h3 loupe
                    p An his tamquam pri id mazim nostrud diceret.
                li
                    img(src="imagenes/s3.jpg")
                    h3 retro rocket
                    p An his tamquam pri id mazim nostrud diceret.
                
            
        
            

