footer{
    background: $azul;
    position: relative;
    display: flex;
    .container-footer{
        max-width: 1000px;
        margin: 0 auto;
        padding: 40px 0;
        p{
            text-align: center;
            color: #6E7078;
            font-size: 12px;
            font-weight: 400;
        }
    }
    a{
        top: -20px;
        position: absolute;
        right: 0;
        padding: 5px 10px 5px 10px;
        margin-right: 16px;
        background: #22292E;
    &:hover{
        color:#6E7078;
        }
        @media screen and (min-width: 576px) {
            font-size: 1em;
            top:initial;
            align-self: center;
        }
    }

}