
header{
    background: $azul;
    height: 8vh;
    @media screen and (min-width: 992px) {    
        // background: $azul;
        // height: 8vh;
    }
    .container{
        padding: 0 20px;
        display: flex;
        height: inherit;
        margin: 0 auto;
        max-width: 500px;
        @media screen and (min-width: 992px) {
            max-width: 1000px;
        }
        .logo{
            align-self: center;
            flex: 4;  
            @media screen and (min-width: 992px) {
                             
            }
            h1{
                text-transform: lowercase;
                font-size: 45px;
                font-weight: 100;
                letter-spacing: -3px;
                color:$text-color;
                @media screen and (min-width: 992px) {
                    
                }
            }
        }
        nav{
            display: none;
            @media screen and (min-width: 992px) {
                align-self: flex-end;
                display: initial;
            }
            ul{
                @media screen and (min-width: 992px) {
                    padding: 0;
                    height: 100%;
                    display: flex;
                }
                li{
                    @media screen and (min-width: 992px) {
                        height: inherit;
                        a{
                            height: calc(8vh - 20px);
                            display: flex;
                            padding: 20px 20px;
                            align-items: center;
                            background:$azul;
                            color: #90959A;
                        &:hover{
                            color: white;
                        }
                        }
                        .active{
                            height: calc(8vh - 20px);
                            display: flex;
                            align-items: center;
                            padding: 20px 20px;
                            background: #2A80B9;
                            border-radius: 5px 5px 0 0;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}