
header{
    background: $azul;
    
    @media screen and (min-width: 992px) {    
        height: 8vh;
    }
    .container{
        
        display: flex;
        flex-wrap: wrap;
        height: inherit;
        justify-content: space-around;
        @media screen and (min-width: 992px) {
            max-width: 1000px;
            padding: 0 20px;
            flex-wrap: initial;
            margin: 0 auto;
            justify-content: initial;
        }
        .logo{
            align-self: center;

            @media screen and (min-width: 992px) {
                flex: 4;             
            }
            h1{
                text-transform: lowercase;
                font-size: 45px;
                font-weight: 100;
                letter-spacing: -3px;
                color:$text-color;
                @media screen and (min-width: 992px) {
                    
                }
            }
        }            
        nav{
            width: 100%;
            @media screen and (min-width: 992px) {
                align-self: flex-end;
                width: initial;
            }
            ul{
                display: none;
                padding: 0 20px;
                border-top: 1px solid #474E58;
                @media screen and (min-width: 992px) {
                    padding: 0;
                    height: 100%;
                    display: flex !important;
                    border-top: none;
                }
                li{
                    padding: 20px 0;
                    border-bottom: 1px solid #2C2C2C;
                    @media screen and (min-width: 992px) {
                        height: inherit;
                        padding: 0;
                        border-bottom: none;
                    }
                    a{
                        padding: 0 10px;
                        @media screen and (min-width: 992px) {
                            height: calc(8vh - 20px);
                        display: flex;
                        padding: 20px 20px;
                        align-items: center;
                        background:$azul;
                        color: #90959A;
                        }
                        // height: calc(8vh - 20px);
                        // display: flex;
                        // padding: 20px 20px;
                        // align-items: center;
                        // background:$azul;
                        // color: #90959A;
                    &:hover{
                        color: white;
                    }
                    }
                    .active{
                        height: calc(8vh - 20px);
                        display: flex;
                        align-items: center;
                        padding: 20px 20px;
                        background: #2A80B9;
                        border-radius: 5px 5px 0 0;
                        color: white;
                    }
                    
                }
            }
        }
        span{
            display: initial;
            align-self: center;
            
            @media screen and (min-width: 992px) {
                display: none;
            }
            a{
                background: $celeste;
                padding: 10px 13px;
                border-radius: 50px;
                i{

                }
            }
        }
    }
}