.portada{
    background: $celeste;
    position: relative;
    height: 600px;
    @media screen and (min-width: 576px) {
        height: 650px;
    }
    a{
        position: absolute;
        i{
            margin-top: 5vh;
            background: white;
            color: black;
            width: inherit;
            height: inherit;
            padding: 10px 6px;
            border-radius: 0 5px 5px 0;
        }
    }
    .container{
            position: relative;
            z-index: 1;
            height: inherit;
            max-width: 700px;
            margin: 0 auto;
            @media screen and (min-width: 1200px){
                max-width: 1000px;
            }
        .container-robot{
            z-index:1;
            position: absolute;
            bottom: -140px;
            text-align: center;
            width: 100%;
            @media screen and (min-width: 1200px){
                max-width: 1000px;
                bottom: -194px;
                text-align: initial;

            }
            
            @media screen and (min-width: 1200px){
                max-width: 1000px;
                bottom: -194px;
                text-align: initial;

            }
            .robot{
                width: 350px;
                @media screen and (min-width: 576px){
                    width: 410px;
                }
                @media screen and (min-width: 1200px){
                    width: initial;
                }
            }

        }
        .cohete{
                display: none;
            @media screen and (min-width: 1200px){
                display: block;
                width: 160px;
                height: 205px;
                position: absolute;
                z-index: -1;
                top: 193px;
                right: 111px;
            }
        }
        .flama{
                display: none;
            @media screen and (min-width: 1200px){
                display: block;
                position: absolute;
                right: 233px;
                top: 355px;
            }
        }
        .frases{     
            font-size: 50px;
            height: 60%;
            margin: 0 auto;
            text-align: center;
            padding: 0 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            @media screen and (min-width: 1200px){
                z-index: 1;
                position: absolute;
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .grande{
                font-size: 1em;
                line-height: 1;
                letter-spacing: 1px;
                @media screen and (min-width: 1200px){

                }
            }
            .mediano{
                line-height: 4;
                font-size: 0.5em;
                letter-spacing: 1px;
                @media screen and (min-width: 1200px){
                    line-height: 6;
                }
            }
            .chico{
                font-size: 0.2em;
                padding: 10px;
                border: 1px solid white;
                line-height: 2;
                letter-spacing: 1px;
                @media screen and (min-width: 1200px){

                }
            }
            p{
                text-transform: uppercase;
                color: white;
            }
        }
    }        
}

